:root {
	color-scheme: light dark;

	--czq-bc: #98989B;
}

html[data-theme="light"] {
	--czq-bc: #2c2c2c;
}

.czq-quotes { 
	margin: 1em 0; 
	padding-left: .5rem;
}
.czq-quote { 
	margin: 0 0 1.5em; 
}

.czq-quote {
	border-left: 4px solid #98989B;
	padding-left: 1em;
}

.czq-quote__content p {
	text-indent: 0;
}

.czq-quote__author::before {
	content: "— "
}

.czq-quote__author { 
	margin: .75em 0 0; 
	font-style: italic;
	text-align: right;
}
.czq-quote__extra { 
	opacity: .8; 
	text-align: right;
}
